%%% -*-mode:erlang;coding:utf-8;tabidth,:4;c-basic-offset:4;indent-tabs-mode:()-*-
%%% ex: set ft=erlang fenc=utf-8 sts=4 ts=4 sw=4 et:
%%%

%%% Require OTP 19.1 at a bare minimum
{minimum_otp_vsn, "19.1"}.

%% Plugins
{plugins, [pc]}.

{shell, [
    {apps, [hyper]}
]}.

{erl_opts, [debug_info,
    {warn_format, 1},
    {lager_truncation_size, 8192},
    inline_list_funcs,
    warnings_as_errors,
    report_warnings,
    warn_untyped_record,
    warn_export_vars,
    warn_export_all,
    warn_shadow_vars,
    warn_obsolete_guard,
    warn_unused_import,
    warn_deprecated_function,
    warn_unused_vars,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_exported_vars
]}.

{deps, [
    {bisect, {git, "https://github.com/priestjim/bisect.git", {branch, "master"}}}
]}.

{port_specs, [{"priv/hyper_carray.so", ["c_src/*.c"]}]}.
{port_env,  [
    {"CC",  "gcc"},
    {"CXX", "gcc"},
    {"CFLAGS", "$CFLAGS -std=c99 -Wall -Werror -O3"}
]}.
{so_name, "priv/hyper_carray.so"}.

{provider_hooks,
    [{post, [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
    ]}
]}.

{profiles, [
    {test, [
        {erl_opts, [
            warnings_as_errors,
            debug_info,
            export_all,
            no_inline_list_funcs
        ]},
        {deps, [
            {basho_stats, {git, "https://github.com/knutin/basho_stats.git", {branch, "master"}}},
            {proper, {git,"https://github.com/manopapad/proper.git", "master"}},
            {eunit_formatters, "~> 0.3"}
        ]}
    ]},
    {dev, [
        {erl_opts, [warnings_as_errors, debug_info, export_all, no_inline_list_funcs]},
        {deps, []}
    ]}
]}.

%% Code coverage
{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_opts, [verbose]}.

%% EUnit options
{eunit_compile_opts, [warnings_as_errors, debug_info, export_all]}.
{eunit_opts, [verbose,
    no_tty,
    {report, {eunit_progress, [colored, profile]}}
]}.

% Dialyzer
{dialyzer, [
    {warnings, [unmatched_returns, error_handling]},
    {get_warnings, true},
    {plt_location, "_plt"},
    {base_plt_location, global},
    {base_plt_apps, [asn1, crypto, edoc, erts, eunit, inets, kernel, mnesia, public_key, ssl, stdlib, xmerl]}
]}.

%% XRef
{xref_warnings, true}.
{xref_extra_paths, []}.
{xref_checks,[undefined_function_calls, undefined_functions, locals_not_used,
              deprecated_function_calls, deprecated_functions]}.
